@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-paper text-ink font-body;
}

::selection {
  background-color: #2b6f5c33;
}

.grain {
  background-image: radial-gradient(#00000008 1px, transparent 1px);
  background-size: 4px 4px;
}
